<% include ./partials/header %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">SIGN UP</h1>
  </div>
</div>

<!--<div class="container blog">-->
<!--    <form method="POST" action="/signup">-->
<!--        <div class="form-group">-->
<!--            <label for="authName">Name</label>-->
<!--            <input name="username" type="text" class="form-control" id="authName" placeholder="Username">-->
<!--            <small id="authName" class="form-text text-muted">Type name.</small>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="authPass">Post image url</label>-->
<!--            <input name="password" type="text" class="form-control" id="authPass" placeholder="Password">-->
<!--            <small class="form-text text-muted">Type new post image url.</small>-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">Sign Up</button>-->
<!--    </form>-->
<!--</div>-->



<% include ./partials/footer %>