<% include ./partials/header %>
<h1>LOGIN</h1>
<form method="POST" action="/login">
    <input type="text" name="username" placeholder="name" />
    <input type="password" name="password" placeholder="password" />
    <button type="submit">login</button>
</form>



<% include ./partials/footer %>