<% include ./partials/header %>
<h1>SIGN UP</h1>
<form method="POST" action="/signup">
    <div>
        <input name="username" type="text" placeholder="login"/>  
    </div>
    <div>
        <input name="password" type="password" placeholder="password"/>
    </div>
    <button type="submit">submit</button>
</form>



<% include ./partials/footer %>