<h1>sign up</h1>
<form method="POST" action="/auth">
    <div>
        <input name="username" type="text" placeholder="login"/>  
    </div>
    <div>
        <input name="password" type="password" placeholder="password"/>
    </div>
    <button type="submit">submit</button>
</form>

<a href="/login">login</a>
<a href="/logout">logout</a>