<h1>login</h1>
<form method="POST" action="/login">
    <div>
        <input name="username" type="text" placeholder="login"/>  
    </div>
    <div>
        <input name="password" type="password" placeholder="password"/>
    </div>
    <button type="submit">submit</button>
</form>


<a href="/auth">sign up</a>
<a href="/logout">logout</a>