<html>
<head>
    <title>auth-page</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<header class="header">
    <% if(currentUser) { %>
        <h4><%= 'hello ' + currentUser.username %></h4>
    <% } %>
</header>