<!DOCTYPE html>
<html>
<head>
    <title>YelpPage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css"></link>
</head>
<body>
    
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/campgrounds">Campgrounds</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/campgrounds/new">Add</a>
  </li>
</ul>