<h1>Home page</h1>

<img src="http://www.hehuasoft.com/wp-content/uploads/2013/09/FirefoxPortable.png" />

<ul>
    <li><a href="https://bootcamp-node-max-im.c9users.io/love/all">if statment</a></li>
    <li><a href="https://bootcamp-node-max-im.c9users.io/posts">loop</a></li>
</ul>

